 
  <main class="conteudo-pagina">
    <h2>Sobre Desenvolvedores</h2>
    <p>
      Este site foi desenvolvido por <strong>Isac</strong>, <strong>Giuliano</strong> e <strong>Luis</strong>, estudantes do curso de
      <em>Tecnologia em Análise e Desenvolvimento de Sistemas</em> no
      <strong>Instituto Federal de Educação, Ciência e Tecnologia de São Paulo (IFSP) – Câmpus Campinas</strong>.
    </p>
    <p>
      O projeto tem como objetivo aplicar conhecimentos de desenvolvimento web em um contexto real,
      unindo tecnologia e empreendedorismo familiar. A criação do site visa auxiliar na divulgação
      e venda de sabonetes artesanais, promovendo produtos naturais, sustentáveis e feitos com carinho.
    </p>
  </main>


