 
  <main class="conteudo-pagina">
    <h2>Sobre a Saboaria</h2>
    <p>
      Bem-vindo à nossa loja de sabonetes artesanais, onde cada detalhe é feito com carinho, cuidado e ingredientes de qualidade.<br>

      Nossa missão é transformar o seu momento de autocuidado em uma experiência sensorial única. Todos os nossos sabonetes são produzidos artesanalmente, com fórmulas naturais e base glicerinada vegetal, respeitando a sua pele e o meio ambiente.<br>

      Mais do que um produto, entregamos propósito: acreditamos no poder do simples, do feito à mão e do que é criado com amor. Por isso, cada sabonete é exclusivo – pensado para hidratar, perfumar suavemente e cuidar de você de forma especial.<br>

      Além das nossas linhas para uso pessoal, também criamos lembrancinhas para aniversários, chás de bebê e outras ocasiões especiais. São opções delicadas que encantam os convidados e tornam qualquer celebração ainda mais memorável.<br>

      Seja para cuidar de si ou surpreender alguém querido, aqui você encontra uma opção natural, bonita e cheia de significado.
    </p>
  </main>


